/* ESTE CONTENIDO SE VA A IMPORTAR AL CSSSS*/
/* Media queries */
@media screen and (max-width: 320px) {
  footer {
    font-size: x-small; }
  h1 {
    font-size: 2rem;
    margin-top: 3rem; }
  h2 {
    font-size: 1.5rem;
    margin-top: 4rem; }
  .subtitulo_index {
    font-size: 1.5rem;
    margin-bottom: 3rem; }
  .card {
    width: 100%;
    justify-content: center; }
  .cards {
    margin: none;
    margin-top: 2rem; } }

@media screen and (min-width: 321px) and (max-width: 574px) {
  .subtitulo_index {
    font-size: 2rem;
    margin-bottom: 3rem; }
  footer {
    font-size: small; }
  h1 {
    font-size: 2.5rem;
    margin-top: 1.5rem; }
  h2 {
    font-size: 2rem;
    margin-top: 4rem; }
  .card {
    width: 100%;
    justify-content: center; }
  .cards {
    margin: none;
    margin-top: 2rem; } }

@media screen and (min-width: 357px) and (max-width: 574px) {
  .card {
    width: 100%;
    justify-content: center; } }

@media screen and (min-width: 575px) and (max-width: 767px) {
  .subtitulo_index {
    font-size: 2.5rem;
    margin-bottom: 3rem; }
  footer {
    font-size: medium; }
  h1 {
    font-size: 3rem;
    margin-top: 3rem; }
  h2 {
    font-size: 2.5rem;
    margin-top: 4rem; }
  .card {
    justify-content: center;
    width: 100%; }
  .cards {
    margin: none;
    margin-top: 2rem; } }

@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    margin-top: 4rem; }
  h2 {
    font-size: 3rem;
    margin-top: 4.5rem; }
  footer {
    font-size: large; }
  .subtitulo_index {
    font-size: 3rem;
    margin-bottom: 3.5rem; }
  .card {
    justify-content: center;
    width: 100%; }
  .cards {
    margin-top: 2rem; } }

*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/* incio estilo INDEX */
h1 {
  font-size: xx-large;
  text-align: center;
  margin-bottom: 0rem;
  font-style: italic;
  color: #d2cdd3; }

h2 {
  font-size: xx-large;
  text-align: center;
  margin-top: 8rem; }

h5 {
  font-size: 3rem;
  text-align: center; }

.btn-primary {
  background-color: #d2cdd3;
  border-radius: 1rem;
  border-color: #d2cdd3;
  margin-left: 9rem;
  width: 15rem;
  height: 3.1rem;
  font-size: 1.5rem; }
  .btn-primary:hover {
    background-color: #d2cdd3;
    border-radius: 1rem;
    border-color: black;
    margin-left: 9rem;
    width: 16rem;
    height: 3.7rem;
    font-size: 1.7rem; }

.carousel_parrafo {
  font-size: 3rem; }

img {
  width: 100%;
  height: 100%; }

.imgindex_luli {
  margin: 0.5rem; }

.imgindex_box {
  margin: 0.5rem; }

.subtitulo_index {
  font-style: italic;
  margin-bottom: 6rem; }

/* Fin estilo INDEX */
/* Inicio estilo productos */
/* Body */
.texto_tortas_box {
  font-size: large;
  text-align: center; }

.vegan_info {
  border: solid #78658f;
  margin-bottom: 4rem; }

.vegan_titulo {
  color: #78658f; }

.row {
  flex-direction: row;
  justify-content: center; }
  .row_tortas {
    display: flex; }

.articulo {
  font-size: x-large;
  text-align: center;
  margin: 6rem; }

.link_reel:hover {
  color: #968ea0;
  font-size: x-large; }

/*para mobile */
.link_reel:focus {
  color: #968ea0; }

/* Fin body */
/* fin estilo productos */
