/* ESTE CONTENIDO SE VA A IMPORTAR AL CSS*/
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/* Header */

.navbar {
  background-color: white;
}
.nav-item {
  font-size: xx-large;
  padding: 1.5rem;
}
.navbar-toggler {
  width: 10rem;
  height: 10rem;
  border: solid 0.3rem;
  background-color: #d2cdd3;
}
.navbar-toggler-icon {
  width: 5rem;
  height: 5rem;
}
/* NAV */
.menuSuperior {
  list-style-type: none;
  margin-left: 9.5rem;
 }

.menuSuperior li {
  display: inline-block; }

.menuSuperior a {
  text-decoration: none;
  background-color: #d2cdd3;
  padding: 1.5rem;
  font-weight: 600;
  font-size: medium;
  color: white;
  border: 2.5px solid white;
  transition: all 1s; }

.menuSuperior :hover {
  background-color: #968ea0;
  font-size: x-large; }

.logo {
  max-width: 200px; }

.flex {
  display: flex; }

.header_flexbox {
  justify-content: flex-start;
  flex-direction: row;
  align-items: center; }

.titulo_flexbox {
  flex-direction: column;
  justify-content: center;
  flex-wrap: 1 1 clamp(300px, 30%, 400px); }

/*finHeader*/


/* Body */
body {
  background-color: white;
  background-image: linear-gradient(white, #d2cdd3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

body {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem; }

h1 {
  font-size: 6rem;
  text-align: center;
  margin-bottom: 0rem;
  font-style: italic;
 }

h2 {
  font-size: xx-large;
  text-align: center;
  margin-top: 8rem;
 }

 .subtitulo_index {
  font-size: 3rem;
  margin: 16rem;
  margin-top: 2rem;
 }

.subtitulo_2 {
  margin: 10rem;
  font-size: x-large;
 }

h5 {
  font-size: 3rem;
  text-align: center;
}


.card-text {
  font-size: 2rem;
  text-align: center;
}

.btn-primary {
  background-color: #d2cdd3;
  border-radius: 1rem;
  border-color: #d2cdd3;
  margin-left: 9rem;
  width: 15rem;
  height: 3.1rem;
  font-size: 1.5rem;
}

.btn-primary:hover {
  background-color: #d2cdd3;
  border-radius: 1rem;
  border-color: black;
  margin-left: 9rem;
  width: 16rem;
  height: 3.7rem;
  font-size: 1.7rem;
}


.carousel_parrafo {
  font-size: 3rem;
}
img {
  width: 100%;
  height: 100%; }

.imgindex_luli {
  width: 580px;
  height: 780px;
  background-image: url(../img/luli.jpeg);
  background-size: cover;
  margin: 0.5rem;
}

.imgindex_luli:hover {
  background-image: url(../img/1light.jpg); 
  border: solid black 0.3rem;
}

.imgindex_box {
  width: 580px;
  height: 780px;
  background-image: url(../img/cajascerradas.jpeg);
  background-size: cover;
  margin: 0.5rem;
}

.imgindex_box:hover {
  background-image: url(../img/2light.jpg);
  border: solid black 0.3rem;
}

.violeta {
  color: #d2cdd3; }

/* Footer */
footer {
  text-align: center;
  font-style: italic;
  font-size: x-large;
}

footer :hover {
  color: #968ea0;
  font-size: x-large; }

footer:focus {
  color: #968ea0; }



/* Inicio body productos */

.info_tortas {
  width: 580px;
  height: 585px;
  border: solid black 0.4rem;
}
.texto_tortas {
  font-size: 2rem;
  text-align: center;
}

.list-group-item {
  background-color:#d2cdd3;
  margin: 0.3rem;
  width: 24rem;
  margin-left: 17rem;
}

.info_vegan {
  width: 1200px;
  height: 300px;
}

.row {
  flex-direction:row;
  
}
.articulo_vegan {
  font-size: x-large;
  text-align: center;
  margin: 6rem;
}

.link_reel:hover {
  color: #968ea0;
  font-size: x-large; }

/*para mobile */
.link_reel:focus {
  color: #968ea0; }

/* fin productos */


/* inicioPaginaPromos */
 .cards {
  margin: 4rem;

 }
 
/* finPaginaPromos */




/* ---- FALTA TRABAJARLO ---- */
/* inicioPaginaMassobrelulu */
iframe {
  margin: 1.5rem;
  margin-top: 0rem; }

/* finPaginaMassobrelulu */

/* inicioPaginaContacto */
fieldset {
  margin: 1rem;
  padding: 1rem; }

label {
  display: block; }

input {
  margin: 1.2rem;
  margin-top: 0rem;
  margin-left: 0rem; }

.checkRedes {
  margin: 0.3rem;
  margin-left: 1.5rem; }

#instagram {
  margin-left: 0rem; }

.dejanosunMsj {
  margin: 0.3rem;
  margin-top: 1rem; }

.botones {
  margin: 0.4rem;
  margin-left: 0rem; }

/* finPaginaContacto */



@media screen and (max-width: 576px) {
  h1 {
    font-size: 3.5rem;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 768px) {
  .row {
   justify-content: center;
  }
}





