@import "utilities/variables";
@import "components/cards";
@import "components/img";
@import "components/propiedadesbody";
@import "components/propiedadestitulos";
@import "layout/footer";
@import "layout/header";
@import "layout/row";
@import "views/contacto";
@import "views/index";
@import "views/massobrelulu";
@import "views/productos";
@import "views/promos";
@import "utilities/mediaqueries";

*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }



