*::after *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Header */
.menuSuperior {
    list-style-type: none;
    margin-left: 9.5rem;
}

.menuSuperior li {
    display: inline-block;
}

.menuSuperior a {
    text-decoration: none;
    background-color: rgb(210, 205, 211);
    padding: 1.5rem;
    font-weight: 600;
    font-size: medium;
    color: white;
    border: 2.5px solid white;
    transition: all 1s;
}

.menuSuperior a:hover {
    border-color: black;
}

.logo {
    max-width: 200px;
}

.flex {
    display: flex;
}

.header_flexbox {
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.titulo_flexbox {
    flex-direction: column;
    justify-content: center;
    flex-wrap: 1 1 clamp(300px, 30%, 400px);
}

.titulo_bienvenidx {
    padding: 1rem;
    margin-bottom: 0rem;
}

/*finHeader*/
/* Body */
body {
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.body {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 2rem;
}

h1 {
    font-size: xx-large;
    text-align: center;
    margin-bottom: -2rem;
}

h2 {
    font-size: xx-large;
    text-align: center;
    margin-top: 6rem;
}

.subtitulo_2 {
    margin-top: 0rem;
    font-size: x-large;
}

img {
    width: 100%;
    height: 100%;
}

.galeria_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.galeria_img {
    margin: 2rem;
    padding: 1rem;
    border: solid black;

}

.violeta {
    color: rgb(210, 205, 211);
}

/* Footer */
footer {
    text-align: center;
    font-style: italic;
    font-size: large;
    margin-bottom: 0rem;
    position: absolute;
    margin-left: 45rem;
}

/* fin footer */
/* fin Body */

/* Inicio body productos */
.titulos_productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: 1 1 clamp(300px, 30%, 400px);
}

.articulos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: large;
}

.img_productos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}

.lista_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#li {
    border: solid black;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
}

.lista_torta {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    max-width: 40rem;
    margin-left: 8rem;
}

.lista_box {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    max-width: 40rem;
    margin-left: 8rem;
}

/* fin body productos */

/* PREGUNTAR POR QUE NO ME LO TOMA
.img_productos {
    display: grid;
    grid-template-areas: 
    "tortaP cajaP"
    "comboP comboP";
} */


/* inicioPaginaPromos */
#negrita {
    font-weight: 600;
}

dt {
    font-size: x-large;
    font-weight: 700;
    padding: 0.5rem;
    margin-left: 34.5rem;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin-left: 42rem;
}

/* finPaginaPromos */
/* inicioPaginaMassobrelulu */
p {
    margin: 1rem;
}

iframe {
    margin: 1.5rem;
    margin-top: 0rem;
}

/* finPaginaMassobrelulu */
/* inicioPaginaContacto */
fieldset {
    margin: 1rem;
    padding: 1rem;
}

label {
    display: block;
}

input {
    margin: 1.2rem;
    margin-top: 0rem;
    margin-left: 0rem;
}

.checkRedes {
    margin: 0.3rem;
    margin-left: 1.5rem;
}

#instagram {
    margin-left: 0rem;
}

.dejanosunMsj {
    margin: 0.3rem;
    margin-top: 1rem;
}

.botones {
    margin: 0.4rem;
    margin-left: 0rem;
}

/* finPaginaContacto */

@media screen and (max-width:763px) {

    /* pagina index */
    h2 {
        font-size: x-large;
    }

    .subtitulo_2 {
        font-size: large;
    }

    .galeria_img {
        margin: 1rem;
        padding: 1rem;
        border: solid rgb(210, 205, 211);
    }

    .menuSuperior li {
        display: list-item;
        margin: 4rem;
    }

    .menuSuperior a {
        padding: 1rem;
        font-size: medium;
        border: 1.5px solid white;
    }

    /* pagina productos */
    #li {
        border: solid rgb(210, 205, 211);
    }

}

@media screen and (max-width:375px) {

    /* pagina index */
    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: large;
    }

    .subtitulo_2 {
        font-size: medium;
    }

    .galeria_img {
        margin: 0.5rem;
        padding: 1rem;
        border: solid rgb(210, 205, 211);
    }

    .menuSuperior li {
        display: list-item;
        margin: 2rem;
    }

    .menuSuperior a {
        padding: 0.5rem;
        font-size: medium;
        border: 1px solid white;
    }
}