/* Media queries */
@media screen and (max-width: 320px) {
    footer {
      font-size:x-small;
    }
    h1 {
      font-size: 2rem;
      margin-top: 3rem;
    } 
    h2 {
      font-size: 1.5rem;
      margin-top: 4rem;
    }
    .subtitulo_index {
      font-size: 1.5rem;
      margin-bottom: 3rem;
    }
    .card {
      width: 100%;
      justify-content: center;
    }
    .cards {
      margin: none;
      margin-top: 2rem;
    }
  }
  
  @media screen and (min-width:321px) and (max-width: 574px) {
    .subtitulo_index {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    footer {
      font-size: small;
    }
    h1 {
      font-size: 2.5rem;
      margin-top: 1.5rem;
    } 
    h2 {
      font-size: 2rem;
      margin-top: 4rem;
    }
    .card {
      width: 100%;
      justify-content: center;
    }
    .cards {
      margin: none;
      margin-top: 2rem;
    }
  }
  
  @media screen and (min-width:357px) and (max-width: 574px) {
    .card {
      width: 100%;
      justify-content: center;
    }
  }
  @media screen and (min-width: 575px) and (max-width: 767px){
    .subtitulo_index {
      font-size: 2.5rem;
      margin-bottom: 3rem;
    }
    footer {  
      font-size: medium;
    }
    h1 {
      font-size: 3rem;
      margin-top: 3rem;
    } 
    h2 {
      font-size: 2.5rem;
      margin-top: 4rem;
    }
    .card {
      justify-content: center;
      width: 100%;
    }
    .cards {
      margin: none;
      margin-top: 2rem;
    }
  }
  
  @media screen and (min-width: 768px) {
    h1 {
      font-size: 3.5rem;
      margin-top: 4rem;
    } 
    h2 {
      font-size: 3rem;
      margin-top: 4.5rem;
    }
    footer {  
      font-size: large;
    }
    .subtitulo_index {
      font-size: 3rem;
      margin-bottom: 3.5rem;
    }
    .card {
      justify-content: center;
      width: 100%;
    }
    .cards {
      margin-top: 2rem;
    }
  }
  
  