/* inicioPaginaContacto */

.img_ustedes {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
fieldset {
    margin: 1rem;
    padding: 1rem; }
  
  label {
    display: block; }
  
  input {
    margin: 1.2rem;
    margin-top: 0rem;
    margin-left: 0rem; }
  
  /* finPaginaContacto */