/* incio estilo INDEX */
h5 {
  font-size: 3rem;
  text-align: center;
}

.carousel_parrafo {
  font-size: 3rem;
}

.imgindex_luli {
  margin: 0.5rem;
&_box {
  margin: 0.5rem;
}
}

.subtitulo_index {
  font-style: italic;
  margin-bottom: 6rem;
}

/* Fin estilo INDEX */ 