/* Inicio estilo productos */
/* inicio body */
.texto_tortas_box {
    @extend .titulo_promos;
}

.vegan_info {
  border: solid $color-terciario;
  margin-bottom: 4rem;
}
.vegan_titulo {
  color: $color-terciario;
}

.articulo {
  @extend .titulo_promos;
  margin: 6rem;
}

.link_reel:hover {
  color: $color-secundario;
  font-size: x-large; }

/*para mobile */
.link_reel:focus {
  color: $color-secundario; }
/* Fin body */
/* fin estilo productos */