/* inicio estilo Promos */
.titulo_promos {
    font-size: x-large;
  }
 .card {
  width: 35rem;
}
 .cards {
  margin: 4rem;
 }
 
.card-text {
  font-size: 2rem;
  text-align: center;
}
/* fin estilo Promos */